@font-face{
    @font-face {
        font-family: 'abel';
        src: url('/assets/fonts/abel/Abel-Regular.ttf');
    }
}
html, body {
    font-family: 'abel';
    height: 100%;
    margin: 0;
}
header{
    border-bottom: #0EA47A 5px solid !important;
}
.box-content{
    font-family: 'abel';
    width: 60rem;
    height: 23rem;
    background-color: rgb(49, 49, 49);
}
.box-content2{
    margin-top: 5rem;
    font-family: 'abel';
    width: 60rem;
    height: 18rem;
    background-color: rgb(49, 49, 49);
}
#imgCaixa1{    
    top: 30px;
}
#btn-toPerguntas{
    padding: 10px;
    background-color: #0EA47A;
    color: white;
    border-radius: 8px;
}

footer{
    background-color: rgb(49, 49, 49);
}