@font-face{
    @font-face {
        font-family: 'abel';
        src: url('/assets/fonts/abel/Abel-Regular.ttf');
    }
}
html, body {
    font-family: 'abel';
    height: 100%;
    margin: 0;
}

.external-div{
    height: 40rem;
    background-color: black;
}

form{
    background-color: rgb(49, 49, 49);
    width: 24rem;
    height: 30rem;
    border-radius: 20px;
}